.st-menu-horizontal {

  padding: 0 10px;
  background-color: #f5f5f5;
  display: flex;

  a {
    color: #333333;
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin: 0 5px
  }

  a.active, a:hover {
    border-bottom: 2px solid #428BCA;
  }

}

.st-menu-vertical {

  a {
    color: #333333;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  a.active, a:hover {
    border-bottom: 2px solid #428BCA;
  }

}

.st-form {
  max-width: 500px;
}