<h1>Products</h1>

<div class="row">

    <div class="col-md-3">
        <div class="st-menu-vertical">
            {{#each product in model}}
                {{link-to product.name 'products.detail' product}}
            {{/each}}
        </div>
    </div>

    <div class="col-md-9">
        {{outlet}}
    </div>

</div>